<header>
    <nav>
        <ul>
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/mespays">Mes Pays</a></li>
            <li><a href="/decouverte">Découverte</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/deconnexion">Déconnexion</a></li>
        </ul>
    </nav>
</header>