<header>
    <nav>
        <ul>
            <li><a href="/accueil" data-lang="home" class="lang">Accueil</a></li>
            <li><a href="/mespays" data-lang="mp" class="lang">Mes Pays</a></li>
            <li><a href="/decouverte" data-lang="dscvr" class="lang">Découverte</a></li>
            <li><a href="/profil" data-lang="pf" class="lang">Profil</a></li>
            <li><a href="/deconnexion" data-lang="out" class="lang">Déconnexion</a></li>
        </ul>
        <input class="lng" type="button" id="FR" value="Français"/>
        <input class="lng" type="button" id="EN" value="English"/>
        <input class="lng" type="button" id="ES" value="Espanol"/>
        <input class="lng" type="button" id="PR" value="Portugês"/>
    </nav>
</header>