<div id="menu">
    <nav>
        <ul>
            <li><a href="/accueil" data-lang="home" class="lang"></a></li>
            <li><a href="/mespays" data-lang="mp" class="lang"></a></li>
            <li><a href="/decouverte" data-lang="dscvr" class="lang"></a></li>
            <li><a href="/profil" data-lang="pf" class="lang"></a></li>
            <li><a href="/deconnexion" data-lang="out" class="lang" id="deco"></a></li>
        </ul>
    </nav>
</div>