<% if(message.length > 0) {%>
    <p><%=message%></p>
<%}%>

<div id="div-connexion">
    <form action="/authentification" method="post" >
        <label for="login"><img class="icon" src="/images/items/login2.png"></label><input type="text" name="login"/> <br/>
        <label for="mdp"><img class="icon" src="/images/items/cadenas2.png"></label><input type="password" name="pwd"/><br/>
        <input type="submit" value="Se connecter"/>
    </form>
</div>

<div id="a-inscrire">
    <a href="/inscription">Pas encore inscrit ?</a>
    <img class="fleche" src="/images/items/flecheG2.png">
</div>
        

