<div id="pays">
    <img width="5%" src = <%= flag%> />
    <img width="5%" src = <%= monument%> />
    <img width="5%" src = <%= map%> />
    <div class="lang" id="descpays" data-lang=<%=id%>></div>
</div>