<!DOCTYPE HTML>
<html lang="fr">
<%include ../include/head %>
  
<body>
    <%if (page != '../pages/inscription' && page != '../pages/connexion') {%>
        <%include ../include/header %>  
    <%}%>
    <h1><%= title %></h1>
        <%- include(page);%>
 
    <script src="/js/data.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-world-mill-fr.js"></script>
</body>
</html>