<div id="div-inscription">
    <form action="/inscription" method="post" >
        <label for="login"><img class="icon" src="/images/items/login1.png"> </label><input type="text" name="login"/> <br/>
        <label for="pwd"><img class="icon" src="/images/items/cadenas1.png"></label><input type="password" name="pwd"/><br/>
        <label for="pwd2"><img class="icon" src="/images/items/cadenas1.png"></label><input type="password" name="pwd2"/><p>Mot de passe à confirmer</p><br/>
        <input type="submit" value="S'inscrire"/>
    </form>
</div>

<% if(message.length > 0) {%>
    <p><%=message%></p>
<%}%>