
    <div id="user">
        <img class="icon" src="/images/items/login1.png">
        <h2><%=user%></h2>
    </div>
    
    
    <fieldset id="data-user">
        <select id="selectLang">
            <option id="FR">Français</option>
            <option id="EN">English</option>
            <option id="ES">Espanol</option>
            <option id="PR">Português</option>
        </select>
        <button id="updateLang" class="lang" data-lang="updateLang"></button>
        <ul>
            <li>x <span class="lang" data-lang="nbPays"></span>: <b class="data-profil"><%=nbpv%></b></li>
            <li>x <span class="lang" data-lang="lvl"></span>: <b class="data-profil"><%=niveau%></b></li>
        </ul>        
    </fieldset>
